$primary: whitesmoke; //primary
$secondary:#fc4445; //$secondary
$light: #F2527D;
$dark: #262326;
$gray: #404040;
$jumbotron-bg : #262326; //jumbotron background
$display1-size : 5rem;
$display2-size : 4rem;
$display3-size : 3rem;
$display4-size : 2rem;
$headings-font-family : "Prompt";
$secondary-font-family : "Raleway";
$spacer: 2rem !default;


.dark-mode{
  background-color: $dark;
}
